

:root {

    --clr-primary-400: hsl(234, 49%, 42%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(0, 0%, 98%);
    --clr-neutral-300: hsl(264, 10%, 90%);
    --clr-neutral-400: hsl(0, 0%, 31%);
    
    --clr-accent-400: hsl(170, 90%, 31%);
    --clr-accent-500: hsl(181, 60%, 16%);

    --ff-primary: 'Roboto', sans-serif;

    --fw-300: 300;
    --fw-400: 400;
    --fw-700: 700;

    --fs-900: 3rem; 
    --fs-800: 2.5rem;
    --fs-700: 1.5625rem; 
    --fs-600: 1.3125rem; 
    --fs-500: 1.125rem; 
    --fs-400: 1rem; 
    --fs-300: 14px; 
}



body {
    font-family: "Roboto", sans-serif;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 3em;
    margin-bottom: 0;
  }
  
  .text--accent {
    color: var(--clr-accent-400);
  }
  
  .fs-600 {
    font-size: var(--fs-600);
    margin-top: 0;
  }

  .fw-300 {
    font-weight: var(--fw-300);
  }

  .padding-top {
    padding-top: 1.5rem;
  }

  
  .plans {
    display: flex;
    justify-content: center;
  }
  
  .plan {
    width: 200px;
    padding: 2em;
    border-radius: 1em;
    margin: 0 0.5em;
  }
  
  .plan--light {
    color: #4e4e4e;
    background: linear-gradient(-45deg, #e5e3e8, #fafafa);
  }
  
  .plan--accent {
    color: #fff;
    background: linear-gradient(-45deg, #00a1ab, #3741a0);
  }
  
  .plan__title {
    text-transform: uppercase;
    margin: 0 0 1em;
  }
  
  .plan__price {
    font-size: var(--fs-900);
    line-height: 1;
    font-weight: var(--fw-700);
    margin: 0;
  }
  
  .plan__price span {
    display: block;
    font-size: 1.5625rem;
    font-weight: 300;
  }
  
  .plan__description {
    margin: 2em 0;
    line-height: 1.5;
  }
  
  .button {
    font-size: var(--fs-300);
    text-decoration: none;
    padding: 0.5em 0.75em;
    border-radius: .5em;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .button--light {
    background: white;
    color: #4e4e4e;
  }

  .button--light:hover,
  .button--light:focus {
    background: var(--clr-neutral-400);
    color: var(--clr-neutral-100);
    transition: all 300ms ease-in-out;
  }
  
  .button--dark {
    color: var(--clr-neutral-100);
    background: var(--clr-neutral-400);
  }

  .button--dark:hover,
  .button--dark:focus {
    background: var(--clr-neutral-100);
    color: var(--clr-neutral-400);
    transition: all 300ms ease-in-out;
  }

  .button--accent {
    color: var(--clr-neutral-100);
    background: var(--clr-accent-400);
  }

  .button--accent:hover,
  .button--accent:focus {
    color: var(--clr-accent-400);
    background-color: var(--clr-neutral-300);
    transition: all 300ms ease-in-out;
  }